.menu{
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    }
    .seccionpd{
        width: 100%;
        height: 100%;
      
    
    }
    .cuadro1{
        width: 100%;
        height: 35%;
       
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
    }
    .cuadro2{
        width: 100%;
        height: 65%;
       
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .conteiner1{
        width: 400px;
        height: 400px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    
    .jds1{
        width: 100%;
        background-color: rgb(5, 5, 46);
        grid-column: 1/2;
    }
    .jds2{
        width: 100%;
        background-color: rgb(62, 12, 109);
        grid-column: 2/3;
    
    }
    .jds3{
        width: 100%;
        background-color: brown;
        grid-column: 3/-1;
    }
    .conteiner2{
        width: 400px;
        height: 400px;
        display: grid;
        border: 1px solid black;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .jds4{
        width: 100%;
        background-color: rgb(255, 0, 221);
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .jds5{
        width: 100%;
        background-color: blueviolet;
        grid-column: 2/3;
        grid-row: 2/4;
    
    }
    .jds6{
        width: 100%;
        background-color: rgb(48, 165, 42);
        grid-column: 2/3;
        grid-row: 1/1;
    }
    .conteiner3{
        width: 400px;
        height: 400px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .jds10{
        width: 100%;
        background-color: rgb(42, 153, 165);
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .jds11{
        width: 100%;
        background-color: rgb(255, 0, 0);
        grid-column: 3/5;
        grid-row: 1/3;
    }
    .jds12{
        width: 100%;
        background-color: rgba(153, 42, 165, 0.577);
        grid-column: 5/7;
        grid-row: 1/3;
    }
    .jds13{
        width: 100%;
        background-color: blue;
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .jds14{
        width: 100%;
        background-color: rgb(42, 165, 79);
        grid-column: 3/5;
        grid-row: 3/5;
    }
    .jds15{
        width: 100%;
        background-color: rgb(0, 255, 157);
        grid-column: 5/7;
        grid-row: 3/5;
    }
    .conteiner4{
        width: 400px;
        height: 400px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .jds16{
        width: 100%;
        background-color: rgb(226, 43, 116);
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .jds17{
    
        width: 100%;
        background-color: rgb(160, 114, 95);
        grid-column: 1/3;
        grid-row: 3/7;
    }
    .jds18{
        width: 100%;
        background-color: brown;
        grid-column: 3/5;
        grid-row: 1/5;
    }
    .jds19{
        width: 100%;
        background-color: rgba(172, 46, 71, 0.66);
        grid-column: 3/5;
        grid-row: 5/7;
    }
    .jds20{
        width: 100%;
        background-color: darkolivegreen;
        grid-column: 5/7;
        grid-row: 1/3;
    }
    .jds21{
        width: 100%;
        background-color: rgba(50, 47, 145, 0.399);
        grid-column: 5/7;
        grid-row: 3/7;
    }
    .conteiner5{
        width: 400px;
        height: 400px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .jds22{
        width: 100%;
        background-color: rgba(192, 205, 9, 0.858);
        grid-column: 1/4;
        grid-row: 1/5;
    }
    .jds23{
        width: 100%;
        background-color: blue;
        grid-column: 4/7;
        grid-row: 1/5;
    }
    .jds24{
        width: 100%;
        background-color: rgb(226, 43, 131);
        grid-column: 1/3;
        grid-row: 5/7;
    }
    .jds25{
        width: 100%;
        background-color: rgb(0, 255, 51);
        grid-column: 3/5;
        grid-row: 5/7;
    }
    .jds26{
        width: 100%;
        background-color: brown;
        grid-column: 5/7;
        grid-row: 5/7;
    }
    .conteiner6{
        width: 400px;
        height: 400px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(8,1fr);
    }
    .jds27{
        width: 100%;
        background-color: darkblue;
        grid-column: 1/6;
        grid-row: 1/7;
    }
    .jds28{
        width: 100%;
        background-color: black;
        grid-column: 6/10;
        grid-row:1/3 ;
    }
    .jds29{
        width: 100%;
        background-color: rgba(33, 155, 196, 0.485);
        grid-column: 6/10;
        grid-row: 3/7;
    }
    .jds30{
        width: 100%;
        background-color: rgb(49, 26, 82);
        grid-column: 1/4;
        grid-row: 7/9;
    }
    .jds31{
        width: 100%;
        background-color: rgba(37, 149, 115, 0.652);
        grid-column: 4/7;
        grid-row: 7/9;
    }
    .jds32{
        width: 100%;
        background-color: darkgray;
        grid-column: 7/10;
        grid-row: 7/9;
    }
    .conteiner7{
        width: 400px;
        height: 400px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(7,1fr);
    }
    .jds33{
        width: 100%;
        background-color: rgb(156, 38, 44);
        grid-column: 1/4;
        grid-row: 1/8;
    }
    .jds34{
        width: 100%;
        background-color: rgb(226, 43, 128);
        grid-column: 4/8;
        grid-row: 1/6;
    }
    .jds35{
        width: 100%;
        background-color: rgba(10, 73, 22, 0.663);
        grid-column: 8/10;
        grid-row: 1/4;
    }
    .jds36{
        width: 100%;
        background-color: blue;
        grid-column: 8/10;
        grid-row: 4/6;
    }
    .jds37{
        width: 100%;
        background-color: rgb(111, 47, 57);
     grid-column: 4/6;
     grid-row:6/8 ;
    }
    .jds38{
        width: 100%;
        background-color: rgb(51, 51, 103);
        grid-column: 6/8;
        grid-row: 6/8;
    }
    .jds39{
        width: 100%;
        background-color: rgba(14, 2, 20, 0.742);
        grid-column: 8/10;
        grid-row: 6/8;
    }
    .conteiner8{
    border: 1px solid black;
     width: 400px;
     height: 400px;
     display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    }
    .jds40{
        width: 100%;
        background-color: rgb(12, 111, 78);
        grid-column: 1/6;
        grid-row: 1/10;
    }
    .jds41{
        width: 100%;
        background-color: rgb(226, 43, 122);
        grid-column: 6/10;
        grid-row: 1/4;
    }
    .jds42{
        width: 100%;
        background-color: blue;
        grid-column: 6/8;
        grid-row:4/7 ;
    
    }
    .jds43{
        width: 100%;
        background-color: rgba(139, 19, 0, 0.406);
        grid-column: 6/8;
         grid-row: 7/10;
    }
    .jds44{
        width: 100%;
        background-color: brown;
        grid-column: 8/10;
        grid-row: 4/10;
    }
    .conteiner9{
        width: 400px;
        height: 400px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .jds45{
        width: 100%;
        background-color: rgba(9, 85, 36, 0.812);
        grid-column: span 2;
    }
    .jds46{
        width: 100%;
        background-color: rgb(234, 0, 255);
        grid-column: span 2;
    
    
    }
    .jds47{
        width: 100%;
        background-color: blue;
      grid-column: span 2;
    
    }
    .jds48{
        width: 100%;
        background-color: rgba(97, 13, 97, 0.464);
    grid-column: span 2;
    
    }
    .jds49{
        width: 100%;
        background-color: rgb(184, 69, 16);
        grid-column: span 4;
        grid-row: span 2;
    }
    .jds50{
        width: 100%;
      background-color: darkcyan;
     grid-column: span 4;
     grid-row: span 2;
    }
    .jds51{
        width: 100%;
        background-color: rgb(58, 165, 42);
        grid-column: span 2;
    }
    .jds52{
        width: 100%;
        background-color: rgba(11, 184, 147, 0.622);
      grid-column:span 2 ;
    }
    .jds53{
        width: 100%;
        background-color: rgba(95, 160, 95, 0.852);
      grid-column: span 2;
    }
    .jds54{
        width: 100%;
        background-color: rgb(11, 2, 41);
        grid-column: span 2;
    }
    
    